@page "/Error404"
@code {

}

<div class="jumbotron mt-5 pt-5">
    <h1 class="display-4">error 404</h1>
    <p class="lead">page not found</p>
    <hr class="my-4">
    <p>We're sorry, the page you requested could not be found. Please return to the homepage.</p>
</div>


