@page "/Error404"
@code {

}

<div class="jumbotron p-5" style="background-image: url(/images/adrian-swancar-piano.jpg); background-size: cover; background-position-x: center; height:100vh;">
    <br />
    <br />
    <br />
    <br />
    <h1 class="display-1 text-center">error 404</h1>
    <p class="lead text-center">page not found</p>
    <br />
    <br />
    <br />
    <br />
    <hr class="my-4">
    <br />
    <br />
    <br />
    <br />
    <p class="text-center">We're sorry, the page you requested could not be found. Please return to the homepage.</p>
    <br />
    <br />
    <figcaption class="blockquote-footer text-end" style="background-color: none; color: #E1E7F4">
        Photo by Adrian Swancar on Unsplash
    </figcaption>
</div>


