
@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<body>
    <div class="container-fluid p-0">
        <main role="main" class="pb-3 pt-5">
            @Body
        </main>
    </div>
</body>




