@page "/"

    <div class="jumbotron p-5 mb-0" style="background-image: url(/images/dominik-vanyi-horses.jpg); background-size: cover; background-position-x: center; height:100vh;">
        <h1 class="display-4 mt-5 pt-5">your Music Hub </h1>
        <h3>Music is a dish best served cold. </h3>

        <p class="lead">Learn or Teach music skills in a "1 ON 1" relationship.</p>
        <hr class="my-4">

        <p>the MUB provides a private music lesson platform for your needs, check out the lessons below or go to the teacher overview to get to know the teachers.</p>
        <p>Musicians/Teachers, make that offer that can't be refused!</p>
        <figcaption class="blockquote-footer text-end" style="background-color: none; color: #E1E7F4">
            Photo by Dominik Vanyi on Unsplash
        </figcaption>
    </div>

    <div class="p-sm-3" id="availableLessons" ></div>
    

 

@code {


   
}


